FORMAT: 1A
HOST: http://meteorite-landings.me/

# Meteorites

Meteorites is an API for information on meteorites that have landed on Earth as well as their classifications and countries.
# Group Meteorites

## Meteorites Collection [/meteorites]
### Get a list of all meteorites [GET]

+ Response 200 (application/json)
        
        [
            {
            "class : {
                "composition": "Stony",
                "id": 30,
                "name": "L",
                "numberFound": 0,
                "origin": "433 Eros",
                "pclass": "Chondrite"
             },
            "classification_id": 30,
            "cname": "Germany",
            "country": {
                "area": 357114,
                "centroid": "51.0, 9.0",
                "id": 83,
                "name": "Germany",
                "numberFound": 0,
                "recent": "None"
            },
            "country_id": 83,
            "geolocation": "50.775000, 6.083330",
            "id": 1,
            "mass": 21.0,
            "name": "Aachen",
            "recclass": "L",
            "reclat": 50.775,
            "reclong": 6.08333,
            "year": 1880
            },
            {
          "class": {
                "composition": "Stony",
                "id": 17,
                "name": "H",
                "numberFound": 0,
                "origin": "6 Hebe",
                "pclass": "Chondrite"
            },
            "classification_id": 17,
            "cname": "Denmark",
            "country": {
                "area": 43094,
                "centroid": "56.0, 10.0",
                "id": 61,
                "name": "Denmark",
                "numberFound": 0,
                "recent": "None"
            },
            "country_id": 61,
            "geolocation": "56.183330, 10.233330",
            "id": 2,
            "mass": 720.0,
            "name": "Aarhus",
            "recclass": "H",
            "reclat": 56.1833,
            "reclong": 10.2333,
            "year": 1951
            },
            {
            "class": {
                "composition": "Stony",
                "id": 25,
                "name": "EH",
                "numberFound": 0,
                "origin": "16 Psyche",
                "pclass": "Chondrite"
            },
            "classification_id": 25,
            "cname": "Canada",
            "country": {
                "area": 9984670,
                "centroid": "60.0, -95.0",
                "id": 41,
                "name": "Canada",
                "numberFound": 0,
                "recent": "None"
            },
            "country_id": 41,
            "geolocation": "54.216670, -113.000000",
            "id": 3,
            "mass": 107000.0,
            "name": "Abee",
            "recclass": "EH",
            "reclat": 54.2167,
            "reclong": -113.0,
            "year": 1952
            },
        ],

## Single Meteor [/meteorites/{meteor_id}]

+ Parameters 
    + meteor_id (number) - Unique id of the meteor requested
    
### Get information about a specific meteor [GET]

+ Response 200 (application/json)
        
        {
            "class": {
                "composition": "Stony",
                "id": 25,
                "name": "EH",
                "numberFound": 0,
                "origin": "16 Psyche",
                "pclass": "Chondrite"
            },
            "classification_id": 25,
            "cname": "Canada",
            "country": {
                "area": 9984670,
                "centroid": "60.0, -95.0",
                "id": 41,
                "name": "Canada",
                "numberFound": 0,
                "recent": "None"
            },
            "country_id": 41,
            "geolocation": "54.216670, -113.000000",
            "id": 3,
            "mass": 107000.0,
            "name": "Abee",
            "recclass": "EH",
            "reclat": 54.2167,
            "reclong": -113.0,
            "year": 1952
            },

# Group Classes

## Classes Collection [/classes]
### Get a list of all classes [GET]

+ Response 200 (application/json)
        
        [
            {
                "name": "LL6",
                "classification_id": "1",
                "class_ID": "Chondrite",
                "compositional_Type": "Stony",
                "parent_Body": "Unknown"
                "number_Found": "1"
                "meteorites": 
                    [
                        {"name": "Ensisheim",
                        "meteor_id": "1"
                        }
                    ]
            },
            {
                "name": "L6",
                "classification_id": "2",
                "class_ID": "Chondrite",
                "compositional_Type": "Stony",
                "parent_Body": "Flora Family"
                "number_Found": "1"
                "meteorites": 
                    [
                        {"name": "Thika",
                        "meteor_id": "2"
                        }
                    ]
            },
            {
                "name": "Eucrite",
                "classification_id": "3",
                "class_ID": "Achondrite",
                "compositional_Type": "Stony",
                "parent_Body": "Asteroid 4 Vesta"
                "number_Found": "1"
                "meteorites": 
                    [
                        {"name": "Bunburra Rockhole",
                        "meteor_id": "3"
                        }
                    ]
            }
        ]


## Single Class [/classes/{classification_id}]

+ Parameters 
    + classification_id (number) - Unique id of the class requested

### Get information about a specific class [GET]

+ Response 200 (application/json)
        
        {
                "name": "LL6",
                "classification_id": "1",
                "class_ID": "Chondrite",
                "compositional_Type": "Stony",
                "parent_Body": "Unknown"
                "number_Found": "1"
                "meteorites": 
                    [
                        {"name": "Ensisheim",
                        "meteor_id": "1"
                        }
                    ]
            }

# Group Countries

## Countries Collection [/countries]
### Get a list of all countries where a meteor has fallen [GET]

+ Response 200 (application/json)
        
        [
            {
                "name": "Australia",
                "country_id": "1",
                "area": "7692024",
                "centroid": "-25.274398, 133.775136",
                "number_found": "1",
                "meteorites": 
                    [
                        {"name" : "Bunburra Rockhole",
                        "meteor_id" : "3"
                        }
                    ]
            },
            {
                "name": "France",
                "country_id": "2",
                "area": "643801",
                "centroid": "46.227638, 2.213749",
                "number_found": "1",
                "meteorites": 
                    [
                        {"name" : "Ensisheim",
                        "meteor_id" : "1"
                        }
                    ]
            },
            {
                "name": "Kenya",
                "country_id": "3",
                "area": "581309",
                "centroid": "-0.023559, 37.906193",
                "number_found": "1",
                "meteorites": 
                    [
                        {"name" : "Thika",
                        "meteor_id" : "2"
                        }
                    ]
            }
        ]


## Single Country [/countries/{country_id}]

+ Parameters 
    + country_id (number) - Unique id of the country requested

### Get information about a specific country [GET]

+ Response 200 (application/json)
        
        {
                "name": "Australia",
                "country_id": "1",
                "area": "7692024",
                "centroid": "-25.274398, 133.775136",
                "number_found": "1",
                "meteorites": 
                    [
                        {"name" : "Bunburra Rockhole",
                        "meteor_id" : "3",
                        }
                    ]
            },