FORMAT: 1A
HOST: http://meteorite-landings.me/

# Meteorites

Meteorites is an API for information on meteorites that have landed on Earth as well as their classifications and locations.
# Group Meteorites

## Meteorites Collection [/meteorites]
### Get a list of all meteorites [GET]

+ Response 200 (application/json)
        
        [
            {
                "Name" : "Alby sur Cheran",
                "Mass" : "252",
                "ID" : "#458",
                "Class" :
                    {
                        "Name" : "Eucrite-mmict"
                     },
                "Year" : "2002"
                "longitude" : "10-12-2015 19:12:00",
                "latitude" : "Graffiti of pig on building",
                "Location" :
                    {
                        "Name" : ""
                    }
            },
            {
                "Name" : "Thika",
                "Mass" : "14200",
                "ID" : "#54493",
                "Class" :
                    {
                        "Name" : "L6"
                     },
                "Year" : "2011"
                "longitude" : "10-12-2015 19:12:00",
                "latitude" : "Graffiti of pig on building",
                "Location" :
                    {
                        "Name" : ""
                    }
            },
            {
                "Name" : "Bunburra Rockhole",
                "Mass" : "324",
                "ID" : "#48653",
                "Class" :
                    {
                        "Name" : "Eucrite"
                     },
                "Year" : "2007"
                "longitude" : "10-12-2015 19:12:00",
                "latitude" : "Graffiti of pig on building",
                "Location" :
                    {
                        "Name" : ""
                    }
            }
        ]

## Single Meteor [/meteorites/{ID}]

+ Parameters 
    + ID (number) - Unique id of the meteor requested
    
### Get information about a specific meteor [GET]

+ Response 200 (application/json)
        
        {
            "Name" : "Alby sur Cheran",
            "Mass" : "252",
            "ID" : "#458",
            "Class" :
                {
                    "Name" : "Eucrite-mmict"
                 },
            "Year" : "2002"
            "longitude" : "10-12-2015 19:12:00",
            "latitude" : "Graffiti of pig on building",
            "Location" :
                {
                    "Name" : ""
                }
        }

# Group Classes

## Classes Collection [/classes]
### Get a list of all classes [GET]

+ Response 200 (application/json)
        
        [
            {
                "Name": "L5",
                "Class_ID": "Chondrite",
                "Compositional_Type": "Story",
                "Parent_Body": "Flora Family"
                "Number_Found": "1"
                "Meteorites_in_the_Classification": "1"
            },
            {
                "Name": "H6",
                "Class_ID": "Chondrite",
                "Compositional_Type": "Story",
                "Parent_Body": "Flora Family"
                "Number_Found": "1"
                "Meteorites_in_the_Classification": "1"
            },
            {
                "Name": "EUC",
                "Class_ID": "Achondrite",
                "Compositional_Type": "Story",
                "Parent_Body": "Asteroid 4 Vesta"
                "Number_Found": "1"
                "Meteorites_in_the_Classification": "1"
            }
        ]


## Single Class [/classes/{class_id}]

+ Parameters 
    + class_id (number) - Unique id of the class requested

### Get information about a specific class [GET]

+ Response 200 (application/json)
        
        {
            "Name": "L5",
            "Class_ID": "Chondrite",
            "Compositional_Type": "Story",
            "Parent_Body": "Flora Family"
            "Number_Found": "1"
            "Meteorites_in_the_Classification": "1"
        }

# Group Locations

## Locations Collection [/locations]
### Get a list of all locations where a meteor has fallen [GET]

+ Response 200 (application/json)
        
        [
            {
                "crime_type_id": "1",
                "name": "Vandalism",
                "desc": "Vandalism is bad",
                "worstZip":
                    {
                        "zip_id": "1",
                        "zip_code": "78704"
                    },
                "worstWeek":
                    {
                        "week_id": "1",
                        "start_date": "10/11/15"
                    }
                , "crimes":
                [
                    {"crime_id": "1",
                     "description": "Graffiti of pig on building"}
                ]
            },
            {"crime_type_id": "2", "name": "Burglary", "desc": "Burglary is bad", "worstZip": {"zip_id": "2", "zip_code": "78705"}, "worstWeek": {"week_id": "2", "start_date": "10/18/15"}, "crimes": [{"crime_id": "2", "description": "Burglary at Quacks Bakery"}, {"crime_id": "2", "description": "Burglary at Quacks Bakery"}, {"crime_id": "2", "description": "Burglary at Quacks Bakery"}]},
            {"crime_type_id": "3", "name": "Assault", "desc": "Assault is bad", "worstZip": {"zip_id": "3", "zip_code": "78706"}, "worstWeek": {"week_id": "3", "start_date": "10/25/15"}, "crimes": [{"crime_id": "3", "description": "Murder on 12th and Chicon"}]},
        ]


## Single Location [/locations/{location_id}]

+ Parameters 
    + location_id (number) - Unique id of the location requested

### Get information about a specific location [GET]

+ Response 200 (application/json)
        
        {
            "crime_type_id": "1",
            "name": "Vandalism",
            "desc": "Vandalism is bad",
            "worstZip":
                {
                    "zip_id": "1",
                    "zip_code": "78704"
                },
            "worstWeek":
                {
                    "week_id": "1",
                    "start_date": "10/11/15"
                }
            , "crimes":
            [
                {"crime_id": "1",
                 "description": "Graffiti of pig on building"}
            ]
        }