<!DOCTYPE html>
<html>
​
  <head>
    <title>About Us</title>
​
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/custom.css">
    <link href='https://fonts.googleapis.com/css?family=Advent+Pro' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Advent+Pro:100' rel='stylesheet' type='text/css'>

  </head>
​
  <body>
    <div id = "content">
      <div class="row">
            <div class="col-sm-2">
              <ul class="nav nav-pills nav-stacked" id = "nav_links">
            <li><a href="meteorite_table.html">Meteorites</a></li>
            <li><a href="classifications_table.html">Classes</a></li>
            <li><a href="countries">Countries</a></li>
            <li><a href="about">About</a></li>
          </ul>
            </div>
​
            <div class="col-sm-3">
              <div id="about_header">
            <h1>Group Name</h1>
            <h1>Group Members</h1>
            <h1>Stats : </h1>
              </div>
​
            </div>
            <div class="col-sm-6">
              <div id="about_header_title">
              <h2>The SWEagle Has Landed</h2>
              <h2>Darragh Murphy, Jordan Lavatai, Declan Duffy, Ovais Panjwani, Adam Thompson, Gavin Leith</h2>
              <div class="row">
              <div class="col-sm-5">
              <h1>Total Commits</h1>
              </div>
              <div class="col-sm-1">
              <h2 id="stat">102</h2>
              </div>
              </div>
              <div class="row">
              <div class="col-sm-5">
              <h1>Total Issues</h1>
              </div>
              <div class="col-sm-1">
              <h2 id="stat">15</h2>
              </div>
              </div>
              <div class="row">
              <div class="col-sm-5">
              <h1>Total Unit Tests</h1>
              </div>
              <div class="col-sm-1">
              <h2 id="stat">9</h2>
              </div>
              </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <h1><a href="http://docs.meteorites1.apiary.io/">Apiary</a></h1>
                <h1><a href="https://github.com/Leith24/cs373-idb/issues">Github Issue Tracker</a></h1>
              </div>
              <div class="col-sm-3">
                <h1><a href="https://github.com/Leith24/cs373-idb">Github Repo</a></h1>
                <h1><a href="https://github.com/Leith24/cs373-idb/wiki">Github Wiki</a></h1>
              </div>
          </div>
          <div class="row">
            
          </div>
          <div class="row">
          </div>
          <div class="row">
          </div>
          <div class="row">
          </div>
          <div class="row">
          </div>
          <div class="row">
          </div>
          <div class="row">
          </div>
          <div class="row">
          </div>
          <div class="row">
          </div>
          <div class="row">
          </div>
        </div>
    </div>
​
    <div id = "footer">
          <p>&copy; Copyright 2016 | All rights reserved</p>
        </div>
​
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </body>
</html>