
<!DOCTYPE html>
<html>

	<head>
		<title>{{classification.name}}</title>

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../static/css/custom.css">
		<link href='https://fonts.googleapis.com/css?family=Advent+Pro' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Advent+Pro:100' rel='stylesheet' type='text/css'>

	</head>

	<body>
		<div id="content">
            <div class="row">
                <div class="col-sm-2 hidden-xs" id="navbarbackground">
                    <ul class="nav nav-pills nav-stacked" id = "nav_links">
                        <li><a href="/splash">Home</a></li>
                        <li><a href="/meteorites">Meteorites</a></li>
                        <li><a href="/classifications">Classifications</a></li>
                        <li><a href="/countries">Countries</a></li>
                        <li><a href="/about">About</a></li>
                    </ul>
                </div>

                <div class="col-xs-2 hidden-sm hidden-md hidden-lg">
                    <ul class="nav nav-pills" id = "nav_links_mobile">
                        <li><a href="/splash">Home</a></li>
                        <li><a href="/meteorites">Meteorites</a></li>
                        <li><a href="/classifications">Classifications</a></li>
                        <li><a href="/countries">Countries</a></li>
                        <li><a href="/about">About</a></li>
                    </ul>
                </div>
                <div class="col-sm-10">
                        <!--Main C;assification Information-->
                        <div class="col-sm-8 col-md-6">
                            <div id = "main_header">
                                <h1>Class Name</h1>
                            </div>

                            <div id = "country_name">
                                <h2>{{classification.name}}<h2>
                            </div>

                            <div id = "stats_names">
                                <p>ParentClass</p>
                                <p>Composition</p>
                                <p>Origin</p>
                                <p>NumberFound</p>
                            </div>

                            <div id = "stats">
                                <p>{{classification.pclass}}</p>
                                <p>{{classification.composition}}</p>
                                <p>{{classification.origin}}</p>
                                <p>{{classification.numberFound}}</p>
                            </div>
                        </div>
                        <!-- Table for Meteorites that have landed in the Country -->

                    <div class="col-sm-4 col-md-5 class-image">
                        <img src="../static/images/classifications_table.png" height="300" width="580"  alt="Rounded Image">
                    </div>
                    <div class="col-sm-12  country-table">
                            <table class="table table-bordered" >
                                <thead>
                                    <tr>
                                        <td>
                                            <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                                                Name
                                                <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                                                <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>

                                            </a>
                                        </td>
                                        <td>
                                            <a href="#" ng-click="sortType = 'mass'; sortReverse = !sortReverse">
                                                Mass
                                                <span ng-show="sortType == 'mass' && !sortReverse" class="fa fa-caret-down"></span>
                                                <span ng-show="sortType == 'mass' && sortReverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="#" ng-click="sortType = 'cname'; sortReverse = !sortReverse">
                                                Country
                                                <span ng-show="sortType == 'cname' && !sortReverse" class="fa fa-caret-down"></span>
                                                <span ng-show="sortType == 'cname' && sortReverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="#" ng-click="sortType = 'year'; sortReverse = !sortReverse">
                                                Year
                                                <span ng-show="sortType == 'year' && !sortReverse" class="fa fa-caret-down"></span>
                                                <span ng-show="sortType == 'year' && sortReverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="#" ng-click="sortType = 'reclat'; sortReverse = !sortReverse">
                                                Latitude
                                                <span ng-show="sortType == 'reclat' && !sortReverse" class="fa fa-caret-down"></span>
                                                <span ng-show="sortType == 'reclat' && sortReverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="#" ng-click="sortType = 'reclong'; sortReverse = !sortReverse">
                                                Longitude
                                                <span ng-show="sortType == 'reclong' && !sortReverse" class="fa fa-caret-down"></span>
                                                <span ng-show="sortType == 'reclong' && sortReverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="meteorite in meteorites | orderBy:sortType:sortReverse | itemsPerPage: pageSize">
                                        <td><a href="/meteorites/{{ meteorite.id}}">{{ meteorite.name }}</a></td>
                                        <td>{{ meteorite.mass }}</td>
                                        <td><a href="/countries/{{ meteorite.country_id }}"> {{ meteorite.cname }}</a></td>
                                        <td>{{ meteorite.year }}</td>
                                        <td>{{ meteorite.reclat }}</td>
                                        <td>{{ meteorite.reclong }}</td>
                                    </tr>
                                </tbody>
                                <dir-pagination-controls>
                                    template-url="../../static/partials/dirPagination.tpl.html"
                                    on-page-change="pageChange(newPageNumber)">.
                                </dir-pagination-controls>
                            </table>
                        </div>

                </div>
            </div>
        </div>

		<div id = "footer">
        	<ul>
                <li>&copy; Copyright 2016 | All rights reserved</li>
                <li><a href="/austinfoodforme">Austin Food For Me</a></li>
            </ul>
        </div>

	</body>

</html>
