
body
{
	background-color: #031426;
	font-family: 'Advent Pro', sans-serif;
	font-weight: 100;
	color: white;
}

h1
{
	font-family: 'Advent Pro', sans-serif;
	background-color: #e12e77;
	width: 250px;
	border-radius: 25px;
	padding: 8px;
}

#main_header
{
	float: left;
}

#meteorite_name
{
	float: middle;
	padding-top: 15px;
	padding-left: 280px;
}

#stats_names
{
	float: left;
	font-size: 20px;
	background-color: #e12e77;
	width: 250px;
	border-radius: 25px;
	padding: 8px;
	text-align: right;
}

#stats
{
	font-size: 20px;
	float: middle;
	padding-top: 10px;
	padding-left: 280px;
	width: 100%;
}

.align_right
{
	float: right;
}

.col-sm-2
{
	width: 200px;
    height: 550px;
	background-image: url('../images/navbar.png');
	background-size: 100% 100%
}

#splash
{
  margin-left: 43%;
	width: 200px;
	height: 550px;
	background-image: url('../images/navbar.png');
	background-size: 100% 100%;
	animation-name: slideDown;
	-webkit-animation-name: slideDown;

	animation-duration: 1s;
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;

	visibility: visible !important;
}


@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	50%{
		transform: translateY(8%);
	}
	65%{
		transform: translateY(-4%);
	}
	80%{
		transform: translateY(4%);
	}
	95%{
		transform: translateY(-2%);
	}
	100% {
		transform: translateY(0%);
	}
}

#content a
{
	background-color: transparent;
	text-decoration: none;
	color: #ffffff;
}

#content a:hover
{
	background-color: transparent;
	text-decoration: none;
	color: #e12e77;
}

#nav_links
{
	padding-top: 12px;
	padding-right: 12px;
	padding-left: 20px;
	font-color: #ffffff;
}

#nav_links a
{
	font-size: 20px;
}

#twitter_feed
{
	padding-top: 80px;
}

.col-sm-4
{
	padding-top: 100px;
}

#map
{
	padding-top: 80px;
}

#footer
{
	padding: 10px;
}
