
body
{
	background-color: #031426;
	font-family: 'Advent Pro', sans-serif;
	font-weight: 100;
	color: white;
}

h1
{
	font-family: 'Advent Pro', sans-serif;
	background-color: #e12e77;
	width: 250px;
	border-radius: 25px;
	padding: 8px;
}

h3
{
	font-size: 20px;
	color: #e12e77;

}

p
{
	font-size: 18px;
}
.highlightedText{
	color:red;
}
#main_header
{
	float: left;
}

#main_header_search h1
{
	width: 330px;
}


#about_header
{
	text-align: center;
}

#about_header_title
{
	text-align: center;
	padding-top: 12px;
}

#stat
{
	padding-top: 8px;
}

#meteorite_name
{
	float: middle;
	padding-top: 15px;
	padding-left: 280px;
}

#country_name
{
	float: middle;
	padding-top: 15px;
	padding-left: 280px;
}

#stats_names
{
	float: left;
	font-size: 20px;
	background-color: #e12e77;
	width: 250px;
	border-radius: 25px;
	padding: 8px;
	text-align: right;
}

#stats
{
	font-size: 20px;
	float: middle;
	padding-top: 10px;
	padding-left: 280px;
	width: 100%;
}

.align_right
{
	float: right;
}
.class-image{
	padding-top: 20px;
}

.col-sm-2
{
	width: 200px;
    height: 550px;
	background-image: url('../images/navbar.png');
	background-size: 100% 100%
}

.col-sx-2
{
	font-size: 20px;
	display: inline-block;
}

#nav_links_mobile
{
	padding-left: 40px;
}

#splash
{
	width: 200px;
	height: 550px;
	background-image: url('../images/navbar.png');
	background-size: 100% 100%;
	animation-name: slideDown;
	-webkit-animation-name: slideDown;

	animation-duration: 1s;
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;

	visibility: visible !important;
}


@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	50%{
		transform: translateY(8%);
	}
	65%{
		transform: translateY(-4%);
	}
	80%{
		transform: translateY(4%);
	}
	95%{
		transform: translateY(-2%);
	}
	100% {
		transform: translateY(0%);
	}
}

#content a
{

	background-color: transparent;
	text-decoration: none;
	color: #ffffff;
}

#content a:hover
{
	background-color: transparent;
	text-decoration: none;
	color: #e12e77;
}

#nav_links
{
	padding-top: 8px;
	padding-right: 20px;
	padding-left: 10px;
	font-color: #ffffff;
}

.hidden-sm
{
	display: inline;
	padding-top: 12px;
	padding-right: 20px;
	padding-left: 8px;
	font-color: #ffffff;
}

#nav_links a
{
	font-size: 18px;
	padding: 2px 10px;
}

#twitter_feed
{
	padding-top: 80px;
}


#github_links a:hover
{
	background-color: transparent;
	text-decoration: none;
	color: #34dad6;
}


#map
{
	padding-top: 60px;
}

#country_map
{
	padding-top: 40px;	
}

#flag
{
	padding-top: 40px;
}

#footer
{
	padding: 10px;
}

#footer ul li
{
	display: inline;
	padding: 5px;
}

#footer a
{

	background-color: transparent;
	text-decoration: none;
	color: #ffffff;
}

#footer a:hover
{
	background-color: transparent;
	text-decoration: none;
	color: #e12e77;
}

.country-table{
	margin-top: 20px;
}

#searchform {
                width:100%;
                background-color: #652672;
                text-align: right;
}
.searchbox {
                padding:8px 15px;
                background:rgba(50, 50, 50, 0.2);
                border:0px solid #dbdbdb;
}
.searchbutton {
                position:relative;
                padding:6px 15px;
                left:-8px;
                border:2px solid #e12e77;
                background-color:#e12e77;
                color:#fafafa;
}
.searchbutton:hover  {
                background-color:#fafafa;
                color:#e12e77;
}