
<!DOCTYPE html>
<html>

	<head>
		<title>2007</title>

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="static/css/custom.css">
		<link href='https://fonts.googleapis.com/css?family=Advent+Pro' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Advent+Pro:100' rel='stylesheet' type='text/css'>

	</head>

	<body>
		<div id = "content">
			<div class="row">
        		<div class="col-sm-2 hidden-xs">
                    <ul class="nav nav-pills nav-stacked" id = "nav_links">
                        <li><a href="meteorites">Meteorites</a></li>
                        <li><a href="classifications">Classifications</a></li>
                        <li><a href="countries">Countries</a></li>
                    </ul>
                </div>

                <div class="col-sx-2 hidden-sm hidden-md hidden-lg">
                    <ul class="nav nav-pills" id = "nav_links_mobile">
                        <li><a href="meteorites">Meteorites</a></li>
                        <li><a href="classifications">Classifications</a></li>
                        <li><a href="countries">Countries</a></li>
                    </ul>
                </div>

        		<div class="col-sm-6">

        			<div id = "main_header" style="text-align: center;">
						<h1>Year</h1>

					</div>

					<div id = "meteorite_name">
						<h2>2007<h2>
					</div>

					<table class="table table-bordered" id="meteorite-table">
					<thead>
							<tr>
									<th>Name</th>
									<th>Mass</th>
									<th>Country</th>
									<th>Class</th>
									<th>Year</th>
									<th>Geolocation</th>
							</tr>
					</thead>
					<tbody>
							<tr>
									<td><a href="bunburra_rockhole">Bunburra Rockhole</a></td>
									<td>324</td>
									<td>Australia</td>
									<td>Eucrite</td>
									<td>2007</td>
									<td>-31.350000, 129.190000</td>
							</tr>
					</tbody>
			</table>


    		</div>
		</div>

		<div id = "footer">
        	<p>&copy; Copyright 2016 | All rights reserved</p>
        </div>



	</body>

</html>
