<!DOCTYPE html>
<html>

  <head>
    <title>About Us</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/updated_css.css">
    <link href='https://fonts.googleapis.com/css?family=Advent+Pro' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Advent+Pro:100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="static/DataTables/datatables.css"/>
  </head>

  <body>
    <div id = "content">
      <div class="row">
          <div class="col-sm-2" id="navbarbackground">
            <ul class="nav nav-pills nav-stacked" id="nav_links">
              <li><a href="meteorites">Meteorites</a></li>
              <li><a href="classifications">Classifications</a></li>
              <li><a href="countries">Countries</a></li>
            </ul>
          </div>
            <div class="col-sm-10">
              <div class="row">
                <div class="col-sm-4">
                  <h1>Group Name</h1>
                </div>
                <div class="col-sm-6">
                  <h2>The SWEagle Has Landed</h2>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <h1>Group Members</h1>
                </div>
                <div class="col-sm-6">
                  <h2>Darragh Murphy, Jordan Lavatai, Declan Duffy, Gavin Leith, Ovais Panjwani, Adam Thompson</h2>
                </div>
            </div>


              <div class="row">
                <div class="col-sm-4">
                  <h1>Stats : </h1>
                </div>
                <div class="col-sm-6">
                  <div class="col-sm-7">
                    <h1>Total Commits</h1>
                  </div>
                  <div class="col-sm-1">
                    <h2 id="stat">102</h2>
                  </div>
                  <div class="col-sm-7">
                    <h1>Total Issues</h1>
                  </div>
                  <div class="col-sm-1">
                    <h2 id="stat">15</h2>
                  </div>
                  <div class="col-sm-7">
                    <h1>Total Unit Tests</h1>
                  </div>
                  <div class="col-sm-1">
                    <h2 id="stat">9</h2>
                  </div>
                </div>
                </div>

                <div class="row">
                  <div class="col-sm-4">
                    <h1>Data : </h1>
                  </div>
                  <div class="col-sm-6">
                    <h2><a href="https://data.nasa.gov/view/ak9y-cwf9">https://data.nasa.gov/view/ak9y-cwf9</a></h2>
                    <h2><a href="https://geopy.readthedocs.org/en/1.10.0/">https://geopy.readthedocs.org/en/1.10.0/</a></h2>
                    <h2>Data was scraped using API calls.</h2>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-4">
                    <h1>Tools : </h1>
                  </div>
                  <div class="col-sm-6">
                    <h2>Bootstrap, AngularJS, Rackspace, Carina, Apiary, Python, Flask, SQLAlchemy, Git, Github, Namecheap, Slack, Geopy</h2>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-12" style="background-color : #051c36; height : 10px;">
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-1"></div>
                  <div class="col-sm-5" id="page_links">
                    <h1><a href="http://docs.meteorites1.apiary.io/">Apiary</a></h1>
                    <h1><a href="https://github.com/Leith24/cs373-idb/issues">Github Issue Tracker</a></h1>
                  </div>
                  <div class="col-sm-1"></div>
                  <div class="col-sm-5" id="page_links">
                    <h1><a href="https://github.com/Leith24/cs373-idb">Github Repo</a></h1>
                    <h1><a href="https://github.com/Leith24/cs373-idb/wiki">Github Wiki</a></h1>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-5 panel" id="personal_info">
                    <img src="static/images/group_pics/1.jpg" class="img-responsive center-block"/>
                    <h2>Name : Darragh Murphy</h2>
                    <h3>Bio : On exchange at UT for one semester</h3>
                    <h3>Major Responsibilities : Design, HTMl/CSS, Table Sorting</h3>
                  </div>
                  <div class="col-sm-1"></div>
                  <div class="col-sm-5 panel" id="personal_info">
                    <img src="static/images/group_pics/2.jpg" class="img-responsive center-block"/>
                    <h2>Name : Jordan Lavatai</h2>
                    <h3>Bio : "I dislike Carina and RackSpace"</h3>
                    <h3>Major Responsibilities : worked on navigation, Carina, Rackspace, some html</h3>
                  </div>
                  <div class="col-sm-5 panel" id="personal_info">
                    <img src="static/images/group_pics/3.jpg" class="img-responsive center-block"/>
                    <h2>Name : Gavin Leith</h2>
                    <h3>Bio : Senior at UT, enjoys long walks on the beach and sunsets</h3>
                    <h3>Major Responsibilities : Worked on parts of models, unit tests, Carina, and Technical Report</h3>
                  </div>
                  <div class="col-sm-1"></div>
                  <div class="col-sm-5 panel" id="personal_info">
                    <img src="static/images/group_pics/4.jpg" class="img-responsive center-block"/>
                    <h2>Name : Declan Duffy</h2>
                    <h3>Bio : Irish exchange student studying at UT Austin</h3>
                    <h3>Major Responsibilities : HTML/CSS and navigation</h3>
                  </div>
                  <div class="col-sm-5 panel" id="personal_info">
                    <img src="static/images/group_pics/5.jpg" class="img-responsive center-block"/>
                    <h2>Name : Ovais Panjwani</h2>
                    <h3>Bio : Senior  in CS, intern at Under Armour.</h3>
                    <h3>Major Responsibilities : Worked on unit tests and API</h3>
                  </div>
                  <div class="col-sm-1"></div>
                  <div class="col-sm-5 panel" id="personal_info">
                    <img src="static/images/group_pics/6.jpg" class="img-responsive center-block"/>
                    <h2>Name : Adam Thompson</h2>
                    <h3>Bio : "I've never been much good at talking about myself."</h3>
                    <h3>Major Responsibilities : models, unit tests, and bug finding</h3>
                  </div>
                </div>
              </div>
            </div>










            <div id="footer">
              <p>&copy; Copyright 2016 | All rights reserved</p>
            </div>
        </div>
    </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      </body>
    </html>
