
<!DOCTYPE html>
<html>

	<head>
		<title>Alby sur Cheran</title>

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../css/custom.css">
		<link href='https://fonts.googleapis.com/css?family=Advent+Pro' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Advent+Pro:100' rel='stylesheet' type='text/css'>

	</head>

	<body>
		<div id = "content">
			<div class="row">
        		<div class="col-sm-2">
	        		<ul class="nav nav-pills nav-stacked" id = "nav_links">
						<li><a href="meteorite_table.html">Meteorites</a></li>
						<li><a href="#">Classes</a></li>
						<li><a href="#">Locations</a></li>
					</ul>
        		</div>

        		<div class="col-sm-6">

        			<div id = "main_header">
						<h1>Meteorite Name</h1>
						
					</div>

					<div id = "meteorite_name">
						<h2>Alby sur Cheran<h2>
					</div>

        			<div id = "stats_names">
        				<p>Mass</p>
        				<p>ID</p>
        				<p>Name Type</p>
        				<p>Class</p>
        				<p>Fall</p>
        				<p>Year</p>
        				<p>Longitude</p>
        				<p>Latitude</p>
        			</div>

        			<div id = "stats">
        				<p>252</p>
        				<p>#458</p>
        				<p>Valid</p>
        				<p>Eucrite-mmict</p>
        				<p>Fell</p>
        				<p>2002</p>
        				<p>6.015330</p>
        				<p>45.821330</p>
        			</div>
        		</div>

        		<div class="col-sm-4">
        			<img src="../images/Alby.jpg" class="img-rounded" alt="Rounded Image" height="300" width="300">
        		</div>
    		</div>
		</div>

		<div id = "footer">
        	<p>&copy; Copyright 2016 | All rights reserved</p>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	</body>

</html>