
<!DOCTYPE html>
<html>

	<head>
		<title>Classes Table</title>

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="static/css/custom.css">
		<link href='https://fonts.googleapis.com/css?family=Advent+Pro' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Advent+Pro:100' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="static/DataTables/datatables.css"/>
	</head>

	<body>
		<div id = "content">
			<div class="row" style="padding-top: 10px;">
        		<div class="col-sm-2">
	        		<ul class="nav nav-pills nav-stacked" id = "nav_links">
						<li><a href="meteorites">Meteorites</a></li>
						<li><a href="classifications">Classifications</a></li>
						<li><a href="locations">Locations</a></li>
					</ul>
        		</div>

        		<div class="col-sm-10">

        			<div id = main_header>
						<h1>Classes</h1>
					</div>

        			<table class="table table-bordered" id="classes-table">
		    			<thead>
		        			<tr>
		           				<th>Name</th>
		            			<th>Class ID</th>
		            			<th>Compositional Type</th>
		            			<th>Parent Body</th>
		            			<th>Number Found</th>
		            			<th>Meteorites in the classification</th>
		        			</tr>
		    			</thead>
		    			<tbody>
		        			<tr>
					            <td><a href="static/partials/L5.html">L5</a></td>
					            <td>Chondrite</td>
					            <td>Stony</td>
					            <td>Flora family</td>
					            <td>1</td>
					            <td>1</td>
		        			</tr>
		        			<tr>
					            <td><a href="H6.html">H6</a></td>
					            <td>Chondrite</td>
					            <td>Stony</td>
					            <td>Flora Family</td>
					            <td>1</td>
					            <td>1</td>
		        			</tr>
		        			<tr>
					            <td><a href="EUC.html">EUC</a></td>
					            <td>Achondrite</td>
					            <td>Stony</td>
					            <td>Asteroid 4 Vesta</td>
					            <td>1</td>
					            <td>1</td>
		        			</tr>
		    			</tbody>
					</table>
        		</div>
    		</div>
		</div>

		<div id = "footer">
        	<p>&copy; Copyright 2016 | All rights reserved</p>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
			<script type="text/javascript" src="../DataTables/datatables.js"></script>
			<script type='text/javascript'>
			$(document).ready( function () {
						$('#classes-table').dataTable({
							paging : false,
							searching : false
						});
					} );
					</script>

	</body>

</html>
