
<!DOCTYPE html>
<html>

	<head>
		<title>H6</title>

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="static/css/custom.css">
		<link href='https://fonts.googleapis.com/css?family=Advent+Pro' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Advent+Pro:100' rel='stylesheet' type='text/css'>

	</head>

	<body>
		<div id = "content">
			<div class="row">
        		<div class="col-sm-2">
	        		<ul class="nav nav-pills nav-stacked" id = "nav_links">
						<li><a href="meteorites">Meteorites</a></li>
						<li><a href="classifications">Classifications</a></li>
						<li><a href="locations">Locations</a></li>
					</ul>
        		</div>

        		<div class="col-sm-4">

        			<div id = "main_header">
						<h1>Class Name</h1>

					</div>

					<div id = "meteorite_name">
						<h2>H6<h2>
					</div>

        			<div id = "stats_names">
        				<p>Class ID</p>
        				<p>Compositional Type</p>
        				<p>Parent Body</p>
        				<p>Number Found</p>
        				<p>Meteorites in the classification</p>
        			</div>

        			<div id = "stats">
								<p>Chondrite</p>
								<p>Stony</p>
								<p>Flora family</p>
								<p>1</p>
								<p>1</p>
        			</div>
        		</div>
						<div class="col-sm-4">
        			<img src="static/images/classifications_table-H6.png" class="img-rounded" alt="Rounded Image" height="300" width="600">
						</div>
    		</div>
		</div>

		<div id = "footer">
        	<p>&copy; Copyright 2016 | All rights reserved</p>
        </div>

	</body>

</html>
