
<!DOCTYPE html>
<html>

	<head>
		<title>Meteorite-Landings</title>

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="static/css/custom.css">
		<link href='https://fonts.googleapis.com/css?family=Advent+Pro' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Advent+Pro:100' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="static/DataTables/datatables.css"/>
	</head>

	<body>
		<div id = "content">
			<div class="row">
        		<div class="center-block" id="splash">
	        		<ul class="nav nav-pills nav-stacked" id = "nav_links" style="padding-left: 20px">
								<li><a href="meteorites">Meteorites</a></li>
								<li><a href="classifications">Classifications</a></li>
								<li><a href="countries">Countries</a></li>
							</ul>
        		</div>
    		</div>
				<div class="row">
					<div class="center-block" id="footer" style="width: 250px;">
						<p>&copy; Copyright 2016 | All rights reserved</p>
					</div>
				</div>
		</div>
	</body>

</html>
